<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
        <%- include('./partials/nav.ejs') %>

        

              <!-- <h3>New Arrivals</h3> -->
          <section class="newArrivalsCarousel">
              <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/418k0HHt4TS._SY291_BO1,204,203,200_QL40_FMwebp_.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/516ASAx-FYL._SX332_BO1,204,203,200_.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/418k0HHt4TS._SY291_BO1,204,203,200_QL40_FMwebp_.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
          </section> 
         
            <!-- Best Sellers Div -->
     

            <!-- Staff Picks Div -->
      

              <!-- Footer -->
              <%- include('./partials/footer.ejs') %>

       

                <!-- Required Bootstrap Scripts -->
        <!-- WILL NEED TO ADD ON END OF EACH VIEW FILE AS PER BS DOC. -->




</body>
</html>

