
<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs')%>

<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Login</h1>

    <form action="/login" method="POST">
        <label>Username</label> 
        <input class='input' type='text' placeholder='username' name='username'><br>
        <label>Password</label>
        <input class='input' type='text' name='password'><br>
        <button class='createUserBtn'>Login</button>
    </form>

        <%- include('../partials/footer.ejs') %>

</body>
</html>